<footer class="mt-auto bg-gray-200">
  <div class="justify-between max-w-6xl px-6 py-10 mx-auto xl:px-0 md:flex">
    <div class="mb-12 footer-left md:mb-0">
      <h2 class="mb-5 text-lg uppercase">About us</h2>

      <p class="text-gray-700">The simplest and fastest way to get up and running with Tailwind CSS from scratch is with the Tailwind CLI tool.</p>
    </div>

    <div class="footer-right">
      <h2 class="mb-5 text-lg uppercase">Social links</h2>

      <ul class="space-y-2">
        <li><a href="#" class="text-purple-500 hover:text-purple-800">Facebook</a></li>
        <li><a href="#" class="text-purple-500 hover:text-purple-800">Twitter</a></li>
        <li><a href="#" class="text-purple-500 hover:text-purple-800">Instagram</a></li>
      </ul>
    </div>
  </div>
</footer>



