{% extends 'base.html' %}
{% load static %}

{% block title %}My account{% endblock title %}

{% block content %}

<div class="max-w-6xl p-6 mx-auto">
  <h1 class="mb-5 text-3xl">My account</h1>

  <div class="flex flex-col mb-6">
    <p><strong>Name: </strong>{{ request.user.get_full_name }}</p>
    <p><strong>Username: </strong>{{ request.user.username }}</p>
    <p><strong>Email: </strong>{{ request.user.email }}</p>

    <a href="{% url 'edit_my_account' %}" 
      class="px-6 py-4 mt-6 ml-0 mr-auto text-white bg-purple-500 rounded-xl">
      Edit
    </a>
  </div>

  <hr>
  <h2 class="my-6 text-xl">My orders</h2>

  {% for order in request.user.orders.all %}
  
  <div class="flex flex-wrap w-full p-6 mb-6 bg-gray-100 rounded-xl">
    <div class="flex justify-between mb-6">
      <a href="#">Order id: {{ order.id }}</a>
    </div>

    <div class="w-full mb-6">

      {% for item in order.items.all %}

        <div class="flex pr-6 mb-6 product">
          <a href="#" class="w-1/4">
            <img src="{{ item.product.get_thumbnail }}" class="hover:shadow-lg rounded-xl">
          </a>
          <div class="w-3/4 pl-6">
            <div class="flex justify-between">
              <a href="#" class="text-lg">{{ item.product.name }}</a>
              <p class="pt-1 mb-6 text-gray-400">${{ item.product.price }}</p>        
            </div>

            <hr>
            <div class="mt-6">
              Quantity: {{ item.quantity }}
            </div>
          </div>
        </div>

      {% endfor %}

      <div>
        <p class="text-lg">Date: {{ order.created_at }}</p>
        <p class="text-lg">Total: $ ... </p>
      </div>
    </div>
  </div>

  {% endfor %}
  
</div>

{% endblock content %}



