{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}


<div class="flex flex-wrap max-w-6xl px-6 py-6 mx-auto xl:px-0">
  <div class="w-full p-6 mb-6 images lg:mb-0 lg:w-3/5">
    <img 
      src="{% if product.image %} {{ product.image.url }} {% else %} 'http://via.placeholder.com/240x240.jpg' {% endif %}" 
      class="rounded-xl hover:shadow-lg"
    >
  </div>

  <div class="w-full information lg:w-2/5 lg:p-6">
    <h1 class="text-2xl">{{ product.name }}</h1>
    <p class="mt-1 text-gray-400">{{ product.price }}</p>

    {% if product.description %}
      <p class="mt-6 text-gray-700">{{ product.description }}</p>
    {% endif %}

    <a 
      hx-get="{% url 'add_to_cart' product.id %}"
      hx-target="#menu-cart-button"
      hx-swap="outerHTML"
      href="#" 
      class="inline-block px-8 py-4 mt-6 text-white bg-purple-500 rounded-lg hover:bg-purple-700">
      Add to card
    </a>
  </div>
</div>

{% endblock content %}



